body{
	margin: 0;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: #333;

}


*:before,
*:after{
	box-sizing: border-box;
}

*

::-webkit-scrollbar-track {
background-color:#f5f5f5;
-webkit-border-radius: 6px;
border-radius: 6px;


}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 6px;
border-radius: 6px;
background-color:#95E1D3;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:6px;
height:0px;
}


::-webkit-scrollbar{
width: 6px;
height: 60px;
}

/* header */

	.header{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding-top: 30px;
	}

	.header__inner{
		display: flex;
		position: relative;
		justify-content: space-between;
	}

	.header__logo{
		font-size: 30px;
		color: #fff;
		font-weight: 700;
	}

	/* Nav */

		.nav{
			display: flex;
			position: relative;
			justify-content: space-around;
			align-items: center;
		}

		.nav__link{
			 font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			margin: 0 10px;
			position: relative;
			transition: color .1s linear;

		}

		.nav__link.active{
			color: #fce38a;

		}

		  .nav__link:hover{
				color: #fce38a;
			}


		.nav__link::after{

			content: "";
			display: block;
			width: 100%;
			height: 3px;
			opacity: 0;

			transition: opacity .1s linear;

			background-color:#fce38a;;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
		}


		.nav__link:hover:after, .nav__link.active:after{
			opacity: 1;
		}

/* Container */

	.container{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;

	}

	h1,h2,h3,h4,h5,h6{
		margin: 0;
	}

/* Intro */

	.intro{
		width: 100%;
		height: 100vh;
		background: url(../images/intro.jpg) center no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.intro__inner{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}



	.intro__suptitle{
		font-family: 'Kaushan Script', cursive;
		font-size: 72px;
		color: #fff;
	}


		.intro__title{
		font-size: 72px;
		color: #fff;
		text-transform: uppercase;
	}

	.intro__title::after{
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background: #fff;

		margin: 20px auto 0;
	}


	/* Button */

	.button{
		margin-top: 55px;

	}

		.btn{

			color: #fff;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;

			margin: 50px auto 0;
			padding: 10px 30px;

			border: 2px solid #fff;

			transition: color .1s linear, background .1s linear;
		}



	.btn:hover{
		color: #333;
		background: #fff;
	}




	/* Slaider */

	.slaider{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	.slaider__inner{
		display: flex;

	}

	.slaider__item{
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
		margin-right: 30px;
		padding-top: 20px;
		width: 30%;
		opacity: .7;

		border-top: 4px solid #fff;

		position: relative;
	}

	.slaider__item.active{
		opacity: 1;
	}

	.slaider__num{
		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
	}

	.slaider__item.active::before{
		content: "";
		display: block;
		width: 60px;
		height: 4px;
		background: #F38181;
		position: absolute;
		top: -4px;
		left: 0;

	}

	/* Section */

	.section{
		margin: 80px 0px;
	}

	.section--devices{
		background: url(../images/devices-bg.jpg) center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		padding: 90px 0 0 0 ;
	}

	.section--gray{
		background: #f8f8f8;
		padding: 65px;
	}

	.section__content{
		width: 100%;
		max-width: 950px;
		margin: 0 auto;
		text-align: center;
	}

	.section--clients{
		background: url(../images/clients-bg.jpg) center no-repeat;
		background-size: cover;
		padding: 110px 0;
	}



	/* Info */
	.info__header{
		text-align: center;
		margin-bottom: 60px;
	}

	.info__title{
		font-size: 30px;
		font-weight: 700;
		color: #333;
		text-transform: uppercase;
	}

	.info__title::after{
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background: #F38181;
		margin: 40px auto 45px ;
	}

	.info__suptitle{
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		color: #333;
	}

	.info__text{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: #999;
		margin-bottom: 90px;
	}


	/* Card */

	.card{
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
	}

	.card__item{
		width: 30%;

	}

	.card__inner{
		background: #95E1D3;
		transition: border-radius .2s linear;
		position: relative;
	}

	.card__item:hover .card__img img{
		opacity: .1;
		border-radius: 4px;

	}

	.card__item:hover{
			border-radius: 4px;
	}

		.card__item:hover .card__img  {
			transform: translate3d(-10px, -10px, 0);
		}

		.card__item:hover .card__text  {
			transform: translate3d(-10px, -10px, 0);
		}



	.card__img{
		background: linear-gradient(to bottom, #f38181, #fce38a);
		transition: transform .2s linear;
		border-radius: 4px;

	}



	.card__img img{
		display: block;
		width: 100%;
		transition: opacity .2s linear;


	}

	.card__text{

		color: #fff;
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		opacity: 0;
		text-align: center;

		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transition: opacity .2s linear, transform .2s linear;
	}

	.card__item:hover .card__text{
		opacity: 1;
	}

	.card__info{
		text-align: center;
		margin-top: 30px;
	}
	.card__name{
		font-size: 14px;
		text-transform: uppercase;
	}
	.card__prof{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-style: italic;
		color: #999;
	}

	/* Status */

	.status{
		background: #95e1d3;
		width: 100%;
		height: 277px;
	}

	.status__items{
		display: flex;
		height: 100%;
	}

	.status__item{
		flex: 1 1 0;
		text-align: center;
		margin: 0 auto;
		padding: 70px 25px;
		border-left: 1px solid #b5eae0;
		color: #fff;
	}

.status__item:last-child{
	border-right: 1px solid #b5eae0;
}

	.status__num{
		font-size:72px;
		font-weight:700;

	}

	.status__text{
		font-size: 14px;
		text-transform: uppercase;

	}

	/* Services */
	hr{
		display: block;
		height: 1px;
		width: 100%;
		background: #e5e5e5;
		margin: 40px 0;
		border: 0;
	}

	.services{
		display: flex;

	}

	.services:last-child{
		border-bottom: none;
	}


		.services__item1{
			flex: 1 1 0;
			padding: 20px 10px 50px 90px;
			position: relative;
		}

	.services__item{
		flex: 1 1 0;
		padding:0 20px 0 90px;
		position: relative;
	}

	.services__img{
		position:absolute;
		left: 30px;
	}

	.services__title{
		color: #333;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	.services__text{
		color: #999;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}

	/* Devices */

	.devices{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	}

	.devices__items{
		position: relative;
		padding-left: 40px;

	}
	.devices__ipad{
		display: block;
		left: 0;
		top:0;
	}

	.devices__iphone{
		position: absolute;
		right: -13px;
		bottom: -71px;
	}

	/* WE DO */
	.wedo{
		display: flex;
	}

	.wedo__item{
		width: 50%
	}

	/* accordion */
	.accordion__item{
		border: 1px solid #e5e5e5;
		margin-bottom: 10px;
	}

	.accordion__item.active .accordion__text{
		display: block;
		border-top: 1px solid #e5e5e5;
	}

	.accordion__header{
		position: relative;
		padding: 20px 20px 20px 60px;
		cursor: pointer;
	}

	.accordion__header::after{
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border-top: 2px solid #ccc;
		border-right: 2px solid #ccc;

		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY( -50%) rotate(135deg);
	}

	.accordion__item.active
	.accordion__header::after{
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border-top: 2px solid #ccc;
		border-right: 2px solid #ccc;

		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY( -50%) rotate(-45deg);
	}

	.accordion__title{
		color: #333;
		font-size: 14px;
		text-transform: uppercase;
	}

	.accordion__icon{
		position: absolute;
		left:15px;
		top: 50%;
		transform: translateY( -50%);
	}

	.accordion__text{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		color: #999;
		padding: 20px;
		display: none;
		height: 126px;
		overflow: auto;
	}

/* Review */
	.review{
		position: relative;
		padding: 0 110px;
		margin: 30px 0;
	}

	.review__photo{
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		border: 3px solid #95e1d3;
		border-radius: 50%;
	}

	.review__photo1{
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.review__item{
		position: relative;
		padding-left: 235px;

	}

	.review__text{
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-size: 24px;
		font-weight: 300;
		color: #999;
	}

	.review__autor{
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		padding-top: 5px;
	}

	.review__autor::before{
		content: " ";
		display: inline-block;
		vertical-align: middle;
		width: 60px;
		height: 3px;
		background: #F38181;
		margin-right: 10px;
	}

	.review__btn{
		font-size: 0;
		color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.review__btn::after{
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border-top: 2px solid #ccc;
		border-right: 2px solid #ccc;

		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY( -50%) rotate(45deg);
	}

	.review__btn--prev{
		left: 0;
		transform: rotate(180deg);
	}

	.review__btn--next{
		right: 0;
	}

/* sotial */
.social{
	display: flex;
	justify-content: center;
}
	.social__item{
		line-height: 55px;
		width: 55px;
		height: 55px;
		color: #f0938b;
		font-size: 30px;
		text-decoration: none;
		background: #fce38a;
		border-right: 1px solid #f0938b;
	}
	.social__item:last-child{
		border-right: none;
	}

	.social__item:hover{
		color: #fff;
		background: #f0938b;
	}

	/* logo */
	.logo{
		display: flex;
	}
	.logo__items{
		flex: 1 1 0;
		display: flex;
		align-items: center;
	}

/* works */
	.works{
		display: flex;
	}

	.works__col{
		flex: 1 1 0;
	}

	.col__item{
		position: relative;
		background: linear-gradient(to bottom, #f38181, #fce38a);
	}
	.col__photo{
		display: block;
		max-width: 100%;
		height: auto;
		transition: opacity .2s linear;
	}

	.col__item:hover .col__photo{
		opacity: .2;
	}

	.work__info{
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		color: #fff;
		opacity: 0;
		transition: opacity .2s linear;
	}

	.col__item:hover .work__info{
		opacity: 1;
	}

	.col__title{
		font-size: 14px;
		text-transform: uppercase;
	}
	.col__text{
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
		font-style: italic;
	}

	/* Clients */
	.clients{
		display: flex;
		flex-wrap: wrap;
	}

	.clients__item{
		width: 50%;
		position: relative;
		padding:0 45px 0 180px;
		box-sizing: border-box;
		margin: 40px 0;
	}

	.clients__photo{
		width: 110px;
		height: 110px;
		border-radius: 50%;
		position: absolute;
		left: 40px;
		top: 0;


	}

	.clients__name{
		font-size: 14px;
		text-transform: uppercase;;
		color: #333;
		margin-bottom: 10px;
	}

	.clients__prof{
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-size: 15px;
	}

	.clients__prof::after{
		content: " ";
		display: block;
		background: #f38181;
		width: 60px;
		height: 3px;
		margin: 20px 0;
	}

	.clients__text{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: #999;
	}

	/* Blog */
	.blog{
		display: flex;
		justify-content: space-between;
	}

	.blog__item{
		width: 30%;
	}

	.blog__header{
		position: relative;
		margin-bottom: 15px;
	}

	.blog__header img{
		display: block;
		width: 100%;
	}

	.blog__content{
		border-bottom: 1px solid #e5e5e5;
	}

	.blog__title{
		text-decoration: none;
		color: #333;
		text-transform: uppercase;
		font-size: 14px;

	}

	.blog__text{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: #999;
		margin: 10px 0 13px 0;
	}

	.blog__footer{
		margin: 15px 0;
	}
	.blog-stat{
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-size: 15px;
		display: inline-block;
		vertical-align: top;
	}
	.blog-stat__item {
		margin-right: 20px;
	}

	.blog-stat__item i{
		color: #95e1d3;
	}

/* Date */
	.blog__date{
		position: absolute;
		width: 60px;
		height: 70px;
		background: #95e1d3;
		left: -10px;
		bottom: 10px;
		z-index: 1;
		color: #fff;
		line-height: 1;

	}

	.date__inner{
		margin: 15px;
		text-align: center;
		line-height: 1;
	}

	.date__num{
		font-size: 30px;
		font-weight: 700;
	}

	.date__mon{
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-size: 15px;
	}
